<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>20456562905-lc31u9ucekg13gcm90sqsbeif974pqbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20456562905-lc31u9ucekg13gcm90sqsbeif974pqbq</string>
	<key>API_KEY</key>
	<string>AIzaSyB9P0O0O5dOLY5Zk4OXtNPoZu3zC42Mn5U</string>
	<key>GCM_SENDER_ID</key>
	<string>20456562905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moochapp.MoochAppiOS</string>
	<key>PROJECT_ID</key>
	<string>mooch-8f325</string>
	<key>STORAGE_BUCKET</key>
	<string>mooch-8f325.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:20456562905:ios:59f6edb812c76130</string>
	<key>DATABASE_URL</key>
	<string>https://mooch-8f325.firebaseio.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
